{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Ordenes</h2>
        <div class="card">
            <div class="card-body">
              <form action="/editarOrden/" method="POST">{% csrf_token %}
              <div class="form-group">
                <label for="txtidOrdenes">ID Ordenes:</label>
                <input type="text" id="txtidOrdenes" name="txtidOrdenes" class="form-control" value="{{misordenes.idOrdenes}}" minlenght="1" maxlenght="6" readonly required>
              </div>
                <div class="form-group py-3">
                  <label for="txtidClientes">ID Clientes:</label>
                  <input type="text" id="txtidClientes" name="txtidClientes" class="form-control" value="{{misordenes.idClientes}}" maxlenght="100" required>
                </div>
                <div class="form-group">
                  <label for="FechaOrden">Fecha de orden:</label>
                  <input type="date" id="FechaOrden" name="FechaOrden" class="form-control" minlenght="1" maxlenght="9" value="{{misordenes.FechaOrden}}" required>
                </div>
                <div class="form-group">
                  <label for="Cantidad">Cantidad:</label>
                  <input type="text" id="Cantidad" name="Cantidad" class="form-control" minlenght="1" maxlenght="9" value="{{misordenes.Cantidad}}" required>
                </div>
                <div class="form-group">
                  <label for="FechaEnvio">Fecha de envio:</label>
                    <input type="date" id="FechaEnvio" name="FechaEnvio" class="form-control" minlenght="1" maxlenght="9" value="{{misordenes.FechaEnvio}}" required>
                </div>
                <div class="form-group">
                  <label for="DireccionEnvio">Direccion de envio:</label>
                    <input type="text" id="DireccionEnvio" name="DireccionEnvio" class="form-control" minlenght="1" maxlenght="9" value="{{misordenes.DireccionEnvio}}" required>
                </div>
                <div class="form-group">
                  <label for="idEmpleado">ID Empleado:</label>
                  <input type="text" id="idEmpleado" name="idEmpleado" class="form-control" minlenght="1" maxlenght="9" value="{{misordenes.idEmpleado}}" required>
                </div>
                <div class="form-group">
                  <label for="idProducto">ID Producto:</label>
                  <input type="text" id="idProducto" name="idProducto" class="form-control" minlenght="1" maxlenght="9" value="{{misordenes.idProducto}}" required>
                </div>
                <div class="form-group py-3">
                  <button type="submit" class="btn btn-dark">Guardar orden</button>
                </div>
              </form>
            </div>
          </div>
    </div>
</div>
{% endblock %}