{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Proveedor</h2>
        <div class="card">
            <div class="card-body">
              <form action="/editarProveedor/" method="POST">{% csrf_token %}
              <div class="form-group">
                <label for="idProveedor">ID Proveedor:</label>
                <input type="text" id="idProveedor" name="idProveedor" class="form-control" value="{{misproveedores.idProveedor}}" minlenght="1" maxlenght="6" readonly required>
              </div>
                <div class="form-group py-3">
                  <label for="Nombre">Nombre:</label>
                  <input type="text" id="Nombre" name="Nombre" class="form-control" value="{{misproveedores.Nombre}}" maxlenght="100" required>
                </div>
                <div class="form-group">
                  <label for="Telefono">Telefono:</label>
                  <input type="text" id="Telefono" name="Telefono" class="form-control" minlenght="1" maxlenght="9" value="{{misproveedores.Telefono}}" required>
                </div>
                <div class="form-group">
                  <label for="Correo">Correo:</label>
                  <input type="email" id="Correo" name="Correo" class="form-control" minlenght="1" maxlenght="9" value="{{misproveedores.Correo}}" required>
                </div>
                <div class="form-group">
                  <label for="Direccion">Direccion:</label>
                    <input type="text" id="Direccion" name="Direccion" class="form-control" minlenght="1" maxlenght="9" value="{{misproveedores.Direccion}}" required>
                </div>
                <div class="form-group">
                  <label for="TipoProducto">Tipo de producto:</label>
                  <input type="text" id="TipoProducto" name="TipoProducto" class="form-control" minlenght="1" maxlenght="9" value="{{misproveedores.TipoProducto}}" required>
                </div>
                <div class="form-group py-3">
                  <button type="submit" class="btn btn-dark">Guardar Proveedor</button>
                </div>
              </form>
            </div>
          </div>
    </div>
</div>
{% endblock %}