{% extends "base.html" %}
{% block cuerpo %}
{% load static %}
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 xl-4">
            <h1>Ingresar Proveedor</h1>
            <div class="card">
              <div class="card-body">
                <form action="/registrarProveedores/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="idProveedor" name="idProveedor" class="form-control" placeholder="idProveedor" minlenght="1" maxlenght="6" required>
                      </div>
                        <div class="form-group py-3">
                          <input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre"  maxlenght="100" required>
                        </div>
                        <div class="form-group">
                          <input type="text" id="Telefono" name="Telefono" class="form-control" placeholder="Telefono" minlenght="1" maxlenght="9" required>
                        </div>
                        <div class="form-group">
                            <input type="email" id="Correo" name="Correo" class="form-control" placeholder="Correo" minlenght="1" maxlenght="9" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="Direccion" name="Direccion" class="form-control" placeholder="Direccion" minlenght="1" maxlenght="9"  required>
                        </div>
                        <div class="form-group">
                          <input type="text" id="TipoProducto" name="TipoProducto" class="form-control" placeholder="TipoProducto" minlenght="1" maxlenght="9" required>
                        </div>
                  <div class="form-group py-3">
                    <button type="submit" class="btn btn-info">Guardar Proveedor</button>
                  </div>
                </form>
              </div>
            </div>
        </div>

    <div class="col-sm-12 col-md-8 col-lg-8 xl-8">
        <h1>Listado de Proveedores</h1>
        <img class="w-50" src="{% static "img/provedores.png" %}" alt="ñ" width="400" height="400">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">idProveedor</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
                <th scope="col">Direccion</th>
                <th scope="col">TipoProducto</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for m in misproveedores %}
              <tr>
                <td>{{m.idProveedor}}</td>
                <td>{{m.Nombre}}</td>
                <td>{{m.Telefono}}</td>
                <td>{{m.Correo}}</td>
                <td>{{m.Direccion}}</td>
                <td>{{m.TipoProducto}}</td>
                <td><a href="seleccionarProveedores/{{m.idProveedor}}" class="btn btn-info">Editar</a></td>
                <td><a href="borrarProveedor/{{m.idProveedor}}" class="btn btn-info">Borrar</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    </div>
{% endblock %}